.portfolio {
    background-color: #f8f9fa;
    padding: 150px 0;
    &__item {
        cursor: pointer;
        position: relative;
    }
    &__mark {
        background: $color_logo;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        &:hover {
            opacity: 0.8;
            transition: 0.5s;
        }
        i {
            color: #fff;
            top: 37%;
            left: 42%;
            ; // text-align: center;
            position: absolute;
            z-index: 200000;
        }
    }
    &__caption {
        background-color: #fff;
        padding: 20px 0;
        h4 {
            font-family: $font_montserat;
            font-weight: 700;
        }
        p {
            font-size: 16px;
            font-style: italic;
            font-family: font;
            margin-top: -5px;
            color: #6c757d;
        }
    }
}